body {
    background: blue;
    font: normal 15pt;
    text-align: center;
  }
  
  header {
   color: white;
  } 
  
  section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    text-align: center;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(77, 67, 67);
    color: black;
  } 
  
  div {
    text-align: center;
    padding: 10px;
  }
  .imagem {
     border-radius: 500px;
     width: 150px;
  }
  
  footer {
      color: white;
      font-style: italic;
  }